
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
<nav data class="navbar flex-column fixed" role="tablist">
    <ul class="nav navbar-nav">
        
        <li class="nav-item active">
            <a href="#" class="navbar-link">
                <div>
                    <i class="material-icons">home</i>
                    <br>
                    HOME
                </div>
            </a>
        </li>
        <br>
        <li class="nav-item">
            <a href="#" class="navbar-link">
                <div>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <br>
                    PROFILE
                </div>
            </a>
        </li>
        <br>
        <li class="nav-item ">
            <a href="#" class="navbar-link">
                <div>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cast" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.646 9.354l-3.792 3.792a.5.5 0 0 0 .353.854h7.586a.5.5 0 0 0 .354-.854L8.354 9.354a.5.5 0 0 0-.708 0z"/>
                        <path d="M11.414 11H14.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h3.086l-1 1H1.5A1.5 1.5 0 0 1 0 10.5v-7A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v7a1.5 1.5 0 0 1-1.5 1.5h-2.086l-1-1z"/>
                      </svg><br>
                    TUTORS
                </div>
            </a>
        </li>
        <br>
        <li class="nav-item ">
            <a href="#" class="navbar-link">
                <div>
                    <i class="material-icons">message</i> 
                    <br>
                    INBOX
                </div>
            </a>
        </li>
        <br>
        <li class="nav-item ">
            <a href="#" class="navbar-link">
                <div>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-calendar3-range" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                        <path fill-rule="evenodd" d="M7 10a1 1 0 0 0 0-2H1v2h6zm2-3a1 1 0 0 1 0-2h6v2H9z"/>
                      </svg><br>
                    LESSONS
                </div>
            </a>
        </li>
        <br>
        <li class="nav-item ">
            <a href="#" class="navbar-link">
                <div>
                    <i class="material-icons">account_balance_wallet</i> 
                    <br>
                    WALLET
                </div>
            </a>
        </li>
        <br>
        <li class="nav-item">
            <a href="#" class="navbar-link">
                <div>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                      </svg><br>
                    ALERTS
                </div>
            </a>
        </li>
        <br>
        <li class="nav-item ">
            <a href="#" class="navbar-link">
                <div>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-justify" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                      </svg><br>
                    MORE
                </div>
            </a>
        </li>
        <br>
    </ul>
</nav>
<script>
    $('body').scrollspy({ target: '#navbar-example' })

    $(".nav .navbar-link").on("click", function()
        {
            $(".nav").find(".active").removeClass("active");
            $(this).addClass("active");
        });
</script>
</body>